/UE55Project/DerivedDataCache

/UE55Project/Intermediate
/UE55Project/Saved
/UE55Project/Content/Collections
/UE55Project/Content/Developers
/UE55Project/Content/MetaHumans

UE55Project/Content/MovieShotPerformances/MovieShot1_Ingested/**
!UE55Project/Content/MovieShotPerformances/MovieShot1_Ingested/MovieShot1_Camera.uasset
!UE55Project/Content/MovieShotPerformances/MovieShot1_Ingested/MovieShot1_Camera_RGB_LensFile.uasset
!UE55Project/Content/MovieShotPerformances/MovieShot1_Ingested/MovieShot1_Camera_Depth_LensFile.uasset
UE55Project/Content/MovieShotPerformances/MovieShot1/AS/**
UE55Project/Content/MovieShotPerformances/MovieShot1/LS/**
UE55Project/Content/MovieShotPerformances/MovieShot1/CD/**
UE55Project/Content/MovieShotPerformances/MovieShot1/MHI/**
!UE55Project/Content/MovieShotPerformances/MovieShot1/MHI/MovieShot1-PromotedFrames.uasset
UE55Project/Content/MovieShotPerformances/MovieShot1/MHP/**

UE55Project/Content/MovieShotPerformances/MovieShot2_Ingested/**
!UE55Project/Content/MovieShotPerformances/MovieShot2_Ingested/MovieShot2_Camera.uasset
!UE55Project/Content/MovieShotPerformances/MovieShot2_Ingested/MovieShot2_Camera_RGB_LensFile.uasset
!UE55Project/Content/MovieShotPerformances/MovieShot2_Ingested/MovieShot2_Camera_Depth_LensFile.uasset
UE55Project/Content/MovieShotPerformances/MovieShot2/AS/**
UE55Project/Content/MovieShotPerformances/MovieShot2/LS/**
UE55Project/Content/MovieShotPerformances/MovieShot2/CD/**
UE55Project/Content/MovieShotPerformances/MovieShot2/MHI/**
!UE55Project/Content/MovieShotPerformances/MovieShot2/MHI/MovieShot2-PromotedFrames.uasset
UE55Project/Content/MovieShotPerformances/MovieShot2/MHP/**


**.blend1